body {
    font-size: 0.9em;
}

/* Content Flexbox */
.content {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Card (content:child) */
.card {
    padding: 30px 15px 20px;
    background-color: aliceblue;
    border: 1px black solid;
    border-radius: 20px;
}
.card h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(48, 46, 46);
    text-align: center;
}
.card iframe {
    border: solid black 2px;
    border-radius: 20px;
    margin-top: 20px;
}

/* Nav Flexbox */
.nav {
    display: flex;
    justify-content: space-between;
}
/* p > a (nav:child) */
.nav > p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav > p > a {
    text-decoration: none;
    color: rgb(48, 46, 46);
}
.nav > p > a:hover {
    color: rgb(85, 85, 224);
    border-bottom: 2px solid rgb(134, 134, 240);
    padding-bottom: 10px;
}

/* Nav2 Flexbox */
.nav2 {
    display: none;
    justify-content: space-between;
}
/* p > a (nav2:child) */
.nav2 > p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav2 > p > a {
    text-decoration: none;
    color: rgb(48, 46, 46);
}
.nav2 > p > a:hover {
    color: rgb(85, 85, 224);
    border-bottom: 2px solid rgb(134, 134, 240);
    padding-bottom: 10px;
}

/* Disabled Click (no content) */
.disabled {
    opacity: 0.6;
    pointer-events: none;
}
.notAllowed {
    cursor: not-allowed;
}

/* Responsive Screen */
@media screen and (max-width: 740px) {
    body {
        font-size: 0.8em;
    }
    .card iframe{
        width: 100%;
    }
    .nav {
        display: none;
    }
    .nav2 {
        display: flex;
    }
}
@media screen and (max-width: 390px) {
    body {
        font-size: 0.7em;
    }
    .card iframe{
        width: 100%;
    }
}